* {
    margin: 0;
    padding: 0;
  }

  html {
    height: 100%;
  }

  .main_content_container h1 {
    font-size: 70px;
    color: #fafafa;
    font-family: Arial, Helvetica, sans-serif,
  }
  
  .main_content_wrapper h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif,
  }

  .main_content_wrapper h3 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif,
  }

  body {
    background-color: #252525;
    margin: 0;
    color: #fafafa;
    height: 100%;
    overflow: hidden;
  }
  