.columnsplitter{
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 100%;
    background-color: #C1121F;
    color: #FDF0D5;
}

.projecttext{
    padding-top: 2%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 50%;
    padding-right: 5%;
    height: 100%;
    background-color: #C1121F;
}

.projecttext h2{
    font-size: 1.6em;
    margin-bottom: 20px;
}

.projecttext p{
    font-size: 1em;
    margin-bottom: 15px;
}

.projectimages{
    display: flex;
    top: -10px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: -40px;
    background-color: #FDF0D5;
}

ul{
    width: 50%;
    height: 100%;
}

.projectimage{
    max-width: 80%;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}

.cta{
    margin-bottom: 20px;
}


@media only screen and (width < 1024px) and (orientation : portrait) {  
    .columnsplitter{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 20%;
        width: 100%;
        height: 100%;
    }

    .projecttext{
        width: 80%;
        height: 100%;
        padding-top: 15%;
        padding-bottom:  10%;
        justify-content: center;
    }

    .projecttext h2{
        padding-top: 20%;
    }

    .projectimages{
        width: 100%;
        height: 100%;
    }

    .video{
        width: 70%;
        height: auto;
    }

    .prev{
        width: 10%;
        height: auto;
    }

    .next{
        width: 10%;
        margin-right: 200px;
        height: auto;
    }

    li{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .projectimage{
        width: 70%;
    }

    .projecttext{
        padding-top: 100px;
    }
}